#content{
	width:300px;
	height:300px;
	overflow-y:scroll;
  padding-right:1em;
  box-sizing:border-box;
}

.scrollbar-track {
    position:absolute;
    top:0;
    right:0;
    bottom:0px;
    width:10px;
    background-color: yellow;
    border-radius: 10px;
}
.scrollbar-thumb {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0px;
    width:10px;
    background-color:#88f;
    border-radius: 10px;
}
